<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/partials/partials :: head('Show')"></head>
<body>

<div id="wrapper">
    <nav th:replace="/partials/partials :: nav"></nav>
    <header th:replace="/partials/partials :: header('Show')"></header>

    <main class="container">
        <div>
            <h3 th:text="${post.title}"></h3>
            <p th:text="${post.body}"></p>
            <p th:text="${post.user.email}"></p>
        </div>
        <div th:if="${userOwner}">
            <a th:href="@{|/posts/${post.id}/edit|}">Edit Post</a>
        </div>

    </main>

    <footer th:replace="/partials/partials :: footer"></footer>
</div>


<th:block th:replace="partials/partials :: scripts"></th:block>

</body>
</html>